# Exercise 2

check atleast 20 method in list, tuples, dictionaries and give an example writing a python code

### list

In [1]:
# 1 append
my_list = [1, 2, 3]
my_list.append(4)
print(my_list)
# Output: [1, 2, 3, 4]

[1, 2, 3, 4]

In [2]:
#2 Extend
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list1.extend(list2)
print(list1)
# Output: [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [3]:
#3 Insert
my_list = [1, 2, 3]
my_list.insert(1, 4)
print(my_list)
# Output: [1, 4, 2, 3]

[1, 4, 2, 3]

In [4]:
#4 Remove
my_list = [1, 2, 3, 4]
my_list.remove(3)
print(my_list)
# Output: [1, 2, 4]

[1, 2, 4]

In [5]:
#5 pop
my_list = [1, 2, 3]
popped_element = my_list.pop(1)
print(popped_element, my_list)
# Output: 2 [1, 3]

2 [1, 3]

In [6]:
#6 Index
my_list = [10, 20, 30, 40]
index = my_list.index(30)
print(index)
# Output: 2

2

In [7]:
#7 count
my_list = [1, 2, 3, 1, 2, 1]
count = my_list.count(1)
print(count)
# Output: 3

3

In [8]:
#8 sort
my_list = [3, 1, 4, 1, 5, 9, 2]
my_list.sort()
print(my_list)
# Output: [1, 1, 2, 3, 4, 5, 9]

[1, 1, 2, 3, 4, 5, 9]

In [9]:
#9 Reverse
my_list = [1, 2, 3]
my_list.reverse()
print(my_list)
# Output: [3, 2, 1]

[3, 2, 1]

In [10]:
#10 copy
my_list = [1, 2, 3]
copied_list = my_list.copy()
print(copied_list)
# Output: [1, 2, 3]

[1, 2, 3]

### Tuples

In [11]:
# 11 Indexing
my_tuple = (1, 2, 3)
print(my_tuple[1])
# Output: 2

2

In [12]:
#12 slicing
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple[1:4])
# Output: (2, 3, 4)

(2, 3, 4)

In [13]:
#13 concatenation
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2
print(concatenated_tuple)
# Output: (1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [14]:
#14 repetation
my_tuple = (1, 2, 3)
repeated_tuple = my_tuple * 2
print(repeated_tuple)
# Output: (1, 2, 3, 1, 2, 3)

(1, 2, 3, 1, 2, 3)

In [15]:
#15 length
my_tuple = (1, 2, 3, 4, 5)
length = len(my_tuple)
print(length)
# Output: 5

5

In [16]:
# 16 membership
my_tuple = (1, 2, 3)
print(2 in my_tuple)
# Output: True

True

In [17]:
# 17 count
my_tuple = (1, 2, 3, 1, 2, 1)
count = my_tuple.count(1)
print(count)
# Output: 3

3

In [18]:
#18 Index
my_tuple = (10, 20, 30, 40)
index = my_tuple.index(30)
print(index)
# Output: 2

2

### Dictionaries

In [19]:
#19 Accessing values
my_dict = {'name': 'John', 'age': 25, 'city': 'New York'}
print(my_dict['name'])
# Output: John

John

In [20]:
#20 adding new key-value pair
my_dict = {'name': 'John', 'age': 25}
my_dict['city'] = 'New York'
print(my_dict)
# Output: {'name': 'John', 'age': 25, 'city': 'New York'}

{'name': 'John', 'age': 25, 'city': 'New York'}